@media (min-width: 768px) {
  .grid.articles {
    grid-template-columns: repeat(2, 1fr);
  }
}

article {
  display: flex;
  flex-direction: column;
  justify-content: start;

  .content {
    height: 100%;
  }
}