**/node_modules
**/dist
**/.angular
**/coverage
**/test
**/*.spec.js
**/*.spec.ts
**/*.sqlite
**/CHANGELOG.md
**/.DS_Store
.git
.gitignore
.github
.vscode
.idea
.env
.env.*
!.env.example
packages/frontend-e2e
packages/frontend/proxy.conf.json
README.md
release-please-config.json
