# Development environment variables
AUTH_COOKIE_NAME=auth_token
JWT_SECRET=secret
PORT=3000
TOKEN_LIFETIME=900 # In seconds, here: 15 min * 60 seconds = 900 seconds in total
NODE_ENV=development # Possible values: production, development, test
SSL_KEY_PATH=./ssl/server.key
SSL_CERT_PATH=./ssl/server.cert
FRONTEND_ADDRESS=http://localhost:4200 # Address of the frontend server, put as CORS origin