AUTH_COOKIE_NAME=auth_token
JWT_SECRET=secret
PORT=3000
TOKEN_LIFETIME=900 # In seconds, here: 15 min * 60 seconds = 900 seconds in total
NODE_ENV=production # Possible values: production, development, test