# Development environment variables
ACCESS_TOKEN_SECRET=secret
REFRESH_TOKEN_SECRET=diff_secret
PORT=3000
HOST=localhost
ACCESS_TOKEN_TTL=15m # Parsed as vercel/ms string: https://github.com/vercel/ms
REFRESH_TOKEN_TTL=7d # Parsed as vercel/ms string: https://github.com/vercel/ms
LOGIN_SESSION_TTL=30d # Parsed as vercel/ms string: https://github.com/vercel/ms
NODE_ENV=development # Possible values: production, development, test
FRONTEND_ADDRESS=http://localhost:4200 # Address of the frontend server, put as CORS origin