<table class="striped">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Password</th>
      <th scope="col">Is Activated</th>
      <th scope="col">Role</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <th scope="row"><div *ngIf="user.deletedAt !== null">❌</div> {{ user.username }}</th>
      <td>*****</td>
      <td>
        <span *ngIf="user.isActivated">✔️ Activated</span>
        <span *ngIf="!user.isActivated">❌ Deactivated</span>
      </td>
      <td>
        <span>{{ user.roleName }}</span>
      </td>
      <td>
        <div role="group">
          <button *appHasPermission="'update:users'" class="primary" [disabled]="user.id === currentUserId || user.deletedAt !== null">Edit</button>
          <button *appHasPermission="'delete:users'" class="primary" [disabled]="user.id === currentUserId || user.deletedAt !== null" (click)="deleteUser(user.id)">Delete</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<button *appHasPermission="'create:users'" class="primary mb-8" (click)="createNewUser()">Create new user</button>