<dialog open>
  <article>
    <h5>{{ title }}</h5>
    <form [formGroup]="form">
      <label>
        Title
        <input formControlName="title" type="text" placeholder="Title" [attr.aria-invalid]="isTitleInvalid">
      </label>
      <p>
        <label>
          <input formControlName="isPublished" type="checkbox" />
          Is published?
        </label>
      </p>
      <label>
        Content
        <textarea
          formControlName="content"
          placeholder="Content"
        ></textarea>
      </label>
    </form>
    <footer>
      <button (click)="cancel()">Cancel</button>
      <button (click)="save()" [disabled]="form.invalid">Save</button>
    </footer>
  </article>
</dialog>
